
.inside-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.column-left{
    flex: 1 1 290px;
    max-width: 290px;
}

.column-right{
    flex:1 1 0;
}

.column-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column-three{
    flex: 1 1 300px;
    flex-wrap: wrap;
    max-width: 300px;
    margin-left: 0;
    margin-right: 0;
}

.column-right .column-three{
    max-width: 270px;
}

.column-three .content-block__text{
    width: auto !important;
}

.column-three:nth-child(2){
    margin-left: 15px;
    margin-right: 15px;
}

.column-three h3{
    text-align: center;
    color: $blue;
}

.inside-column-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0 0 0;
}

.column-item{
    flex: 1 1 400px;
    width: 400px;
    padding: 0 30px 0px 0px;
}

.column-item.content-block h3{
    font-weight: normal;
    font-size: 20px;
    margin: 10px 0 15px 0;
}

.column-item h3 span{
    border-bottom: 2px solid $blue;
    padding-right: 10px;
    display: inline-block;
}

.column-item img{
    border-radius: 50%;
    margin: 0 auto 0 auto;
    display: block;
    width: 170px;
    height: 170px;
}

.column-item .text{
    font-size: 16px;
    line-height: 26px;
}

/*.column-right img{
    max-width: 100%;
    height: auto;
}*/

@media (max-width: 1200px) {

    .column-left{
        flex: 1 1 235px;
        max-width: 225px;
    }
    
    .column-right{
        flex:1 1 0;
    }

    .column-three{
        max-width: 235px;
    }

    .column-three img{
        width: 235px;
        height: auto;
    }

    .column-item{
        flex: 1 1 330px;
        width: 330px;
    }


}

@media ( max-width: 992px ) {

    .column-three{
        flex: 1 1 100%;
        max-width: 100%;
        margin-right: 0px;
    }

    .column-three:nth-child(2){
        margin-left: 0px;
        margin-right: 0px;
    }

    .column-item{
        flex: 1 1 230px;
        width: 230px;
    }

    .column-item:nth-child(2n){
        padding-right: 0;
    }

}

@media ( max-width: 768px ) {

    .column-left{
        display: none;
    }

}

@media ( max-width: 576px ) {

    .inside-column-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-start;
        flex-direction: column;
    }

    .column-item{
        flex: 1 1 0;
        width: 100%;
        max-width: 576px;
        padding: 0 0 40px 0;
    }

    .column-item .text{
        font-size: 24px;
        line-height: 40px;
        font-weight: lighter;
    }
}